<div class="component row">
    <div class="c-card card">
        <div class="card-image">
            <img data-editable data-editable-type="image" src="/img/avatar.jpg">
            <span data-editable data-editable-type="text" class="card-title">Paul E. Malin - Digital Printing Architect</span>
        </div>
        <div class="card-content">
            <div class="row companies">
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company1.png">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company2.png">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company3.jpg">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company4.png">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company5.jpg">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company6.png">
                </div>
                <div class="col s4 m6 l3">
                    <img data-editable data-editable-type="image" class="company" src="/img/company7.png">
                </div>
            </div>
            <a data-editable data-editable-type="text" class="link-setup" href="http://unbouncepages.com/phillytech/" target="_blank">Set up a free consultation
                and
                assessment worth
                $750.</a>
        </div>
        <div class="card-action social-buttons">
            <img src="/img/sharedthis.png">
        </div>
    </div>
</div>