<div class="profile-container">
  <div class="row">
    <div class="c-card card">
      <div class="card-image">
        <img src="/img/avatar.jpg">
        <span class="card-title">Paul E. Malin - Digital Printing Architect</span>
      </div>
      <div class="card-content">
        <div class="row companies">
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company1.png">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company2.png">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company3.jpg">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company4.png">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company5.jpg">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company6.png">
          </div>
          <div class="col s4 m6 l3">
            <img class="company" src="/img/company7.png">
          </div>
        </div>
        <a class="link-setup" href="http://unbouncepages.com/phillytech/" target="_blank">Set up a free consultation and
          assessment worth
          $750.</a>
      </div>
      <div class="card-action social-buttons">
        <img src="/img/sharedthis.png">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card-panel">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>
            Enterprise Digital Printing Solution Architect with over 25 years of
            experience, who is an expert in architecting, designing, building and implementing print, imaging, archive
            and
            workflow solutions who is looking for a full-time or contract position.
          </h5>
        </li>
        <li class="collection-item">Currently Senior Solutions Analyst for
          <img class="company-list" src="/img/list1.png">
          for the past 4 years from September 2013 to Present.
        </li>
        <li class="collection-item">Leverage my 25+ years of experience to delight customers, increase corporate
          profitability, reduce costs and drive
          revenue with printing, imaging, archive and workflow solution to medium, enterprise and Fortune 1000
          customers.
        </li>
        <li class="collection-item">Adept at communicating in complex environments with business and technical
          stakeholders to understand business
          drivers, goals, challenges and requirements in order to deliver printing solutions that exceed customer
          expectations.
        </li>
        <li class="collection-item">Dynamic leadership capabilities, project management, individual and team building
          skills, relationship and partner
          management and proven ability to develop and conduct training in the USA and internationally.
        </li>
        <li class="collection-item">
          Ability to work as a Senior Pre-Sales Solution Engineer, Architect, hands on Team Lead, Project Manager,
          Business
          Analyst, Subject Matter Expert, Consultant, Implementation Director, Trainer and Mentor.
        </li>
      </ul>

      <ul class="collection with-header">
        <li class="collection-header"><h5>Canon Solutions America - Awards and Certifications</h5></li>
        <li class="collection-item">EFI Fiery Certified Professional – October 2016</li>
        <li class="collection-item">IDEAlliance CMP Master – November 2015</li>
        <li class="collection-item">IDEAlliance CMP Print – November 2015</li>
        <li class="collection-item">IDEAlliance CMP Sales – February 2015</li>
        <li class="collection-item">IDEAlliance CMP Premedia – January 2014</li>
        <li class="collection-item">IDEAlliance CMP Fundamentals – January 2014</li>
        <li class="collection-item">
          <div class="row companies">
            <div delete-component class="col s4 m6 l3">
              <img class="company" src="/img/certified1.jpg">
            </div>
            <div class="col s4 m6 l3">
              <img class="company" src="/img/certified2.jpg">
            </div>
            <div class="col s4 m6 l3">
              <img class="company" src="/img/certified3.png">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="card-panel">
      <h4>Work Experience</h4>
      <img class="company-header-image" src="/img/company8.png">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Senior Solutions Analyst & Architect - Canon Solutions America - Horsham, PA - Sept 2013 to Present</h5>
        </li>
        <li class="collection-item">Provide Pre and Post Sales technical architecture, design, development,
          implementation, support, training and consulting for two
          territories (PA and NJ), 10 sales, product and account managers and coordinate with a Canon Solutions America
          team of up to 100
          people to successfully deliver solutions to customers.
          <br/>
          2 territories ( which almost all of my type have 1). 4 reps. Customers that I have or do backup support?
          colleague accounts when they are away = 7.
          MetLife, Vanguard, RR Donnelly, Broadridge, and Highmark Health Solutions
        </li>
        <li class="collection-item">Responsible include print, imaging, archive and workflow needs analysis and solution
          design of Canon Solutions America
          Production Print Systems <- (this is a link of the Canon Print Systems I support)
        </li>
        <li class="collection-item">Responsible for related software and technology solutions of Canon Solutions America
          Print Systems including, but not limited to,
          Oce Prisma (Oce DPconvert, PrismaPrepare, PrismaProdHost, OceTrueProof, Oce VPconvert, PrismaDirect),
          Crawford,
          EFI, GMC
          Inspire, Kofax, LRS, QManager for PrismSync, RightFax Server, RSA Products and Solutions, x-rite and Arcis.
          Weblink to these
          software and technology solutions can be found here.
        </li>
        <li class="collection-item">Deliver solution demonstrations, presentations and build proof of concepts to
          executives, business and technical stakeholders that
          highlight how Canon Solutions America Production Print Systems solutions will dramatically increase
          productivity, lower costs,
          improve customer satisfaction and drive revenue.
        </li>
        <li class="collection-item">Proven ability to develop and conduct training and mentoring to Canon customers and
          employees along with subject matter
          expertise, leadership and communication skills give me the ability to be the trusted enterprise digital
          printing
          advisor for Canon
          customers, sales and implementation teams.
        </li>
        <li class="collection-item">Innate ability to Inspect customer production print environments and rapidly
          identify
          areas for opportunity. Develop and deliver
          compelling solutions that clearly deliver improved efficiencies and increased profit for customers. Provide
          consultative technical
          support to sales and implementation teams ensuring technically accurate presentations, customer proposals,
          RFIs
          and RFPs.
        </li>
        <li class="collection-item">Deliver hands on and customized demonstrations to target customer pain points
          identified during the discovery phase. Provide
          customers with benchmark results and performance testing on sample files to highlight improved efficiencies.
        </li>
        <li class="collection-item">Keep customers at the center of attention by providing quick responses to pre and
          post
          sale technical questions and challenges.
          Deliver onsite and virtual training and support on advanced workflow deployments to ensure rapid productivity.
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Relevant Leadership Experience (While at Canon Previous Positions)</h5>
        </li>
        <li class="collection-item">Developed an add-on sales strategy with pricing incentives and additional presales
          support for the existing Enterprise Imaging &
          Workflow customer base.
        </li>
        <li class="collection-item">Lead a team of analysts, designers, programmers, QA personnel, and implementation
          managers through the migration of network
          and mainframe business applications to the Automated Document Factory.
        </li>
        <li class="collection-item">
          Managed Client Support and Quality Assurance (QA) groups.
          <ul class="sub-list">
            <li>Routinely develop monthly, quarterly and yearly goals and objectives that lead to the growth and
              prosperity of the
              organization as well as design and implement business plans and strategies to promote the attainment of
              goals.
            </li>
            <li>Ensure that the company has the adequate and suitable resources to complete its activities (e.g. people,
              material,
              equipment etc.)
            </li>
            <li>Organize and coordinate operations in ways that ensure maximum productivity.</li>
            <li>Supervise the work of employees and provide feedback and counsel to improve efficiency and
              effectiveness.
            </li>
            <li>Maintain relationships with partners/vendors/suppliers.</li>
            <li>Gather, analyze and interpret external and internal data and write reports.</li>
            <li>Assess overall company performance against objectives.</li>
            <li>Represent the company in events, conferences etc.</li>
            <li>Ensure adherence to legal rules and guidelines.</li>
          </ul>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header"><h5>Relevant Technical Experience (While at Canon and Previous Positions)</h5>
        </li>
        <li class="collection-item">Examples of my Technical Writing can be found here.</li>
        <li class="collection-item">Wrote pseudo-code for an "analyze" function that determined the type, format, etc.
          of
          over 25 different print and data streams.
        </li>
        <li class="collection-item">Wrote functional product specifications and performing Quality Assurance of a
          multi-threaded Windows Monitoring/Transport service. Wrote
          functional product specifications, develop test cases and performed QA for post processing ingestion report.
        </li>
        <li class="collection-item">Responsible for documenting customer’s print and finishing workflows as well as
          demonstrated and provided appropriate Kodak Versamark
          printing solutions that coexist with or replace IBM, Océ and/or Xerox printers.
        </li>
        <li class="collection-item">Created a "new product" used for a secure file transfer from the customer. Wrote
          detailed functional specifications, documentation, and
          performed QA, ensuring that a simple, user friendly product was created with one-touch resolutions and
          processing reports. The product was a
          Windows Service that compressed, encrypted and transported supported image file types to our secure ftp
          server.
        </li>
        <li class="collection-item">Researched/Tested/Documented the best practice for Océ and Sefas integration from
          one
          and back to the other, ensuring proper audit control of
          jobs Gathered information from the customer such as business process workflow, user security requirements and
          document life-cycle
          requirements needed for a successful implementation of the hosted ERM or Imaging service.
        </li>
        <li class="collection-item">Wrote technotes and maintained an employee portal that was a knowledgebase covering
          all aspects of printing workflows, from AFPDS best
          practices to IPDS debugging, “How To’s on data prep, transformation, print management, Kodak System
          Controllers,
          fonts, barcodes, and MICR
          as well as where to find print industry publications, resources and tools.
        </li>
        <li class="collection-item">Analyzed Line data and All Points Addressable print/data streams at the byte or hex
          level to validate their record structures for input to the
          product. The All Points Addressable print/data streams included IBM's Advanced Function Presentation Data
          Stream, Xerox's Metacode, Xerox's
          Dynamic Job Descriptor Entry / Line Conditioned Data Stream, Hewlett Packard's Printer Control Language and
          Adobe's Portable Document
          Format. The Xenos Group transform engines were used for the transformation process.
        </li>
        <li class="collection-item">Developed Grayscale and Color image specifications for the efficient embedding
          within
          PDF as well as the generation of AFPDS for Inkjet
          technology via prototyping images with Adobe Illustrator and Adobe Photoshop.
        </li>
        <li class="collection-item">Self-motivated to create and maintain an internal field support portal complete with
          a
          knowledge base and "best practices" solutions.
        </li>
        <li class="collection-item">Wrote technotes and maintained an employee portal that was a knowledgebase covering
          all aspects of printing workflows, from AFPDS best
          practices to IPDS debugging, “How To’s on data prep, transformation, print management, Kodak System
          Controllers,
          fonts, barcodes, and MICR
          as well as where to find print industry publications, resources and tools.
        </li>
        <li class="collection-item">Developed GAP analysis and migration strategy from the hosted Imaging and Computer
          Output service to IBM DB2 Content Manager and IBM
          DB2 Content Manager OnDemand.
        </li>
        <li class="collection-item">Provide Pre/Post onsite technical support for CUSA and CSA product line as related
          to
          the customer’s infrastructure, networking, application
          workflow and printing requirements.
        </li>
        <li class="collection-item">Analysis of issues at the "bit" level as well as building prototypes for customer
          developers to make appropriate application changes that satisfy
          all hardware and software specifications.
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="card-panel">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Summary of Current Skills (While at Canon and Previous Positions)</h5>
        </li>
        <li class="collection-item">
          <div class="chip">
            Adobe Acrobat
          </div>
          <div class="chip">
            Adobe PDF
          </div>
          <div class="chip">
            Adobe PostScript
          </div>
          <div class="chip">
            Adobe Illustrator
          </div>
          <div class="chip">
            Adobe InDesign
          </div>
          <div class="chip">
            Adobe Photoshop
          </div>
          <div class="chip">
            AFP-Lookup Professional
          </div>
          <div class="chip">
            BreakPoint Software Hex Workshop
          </div>
          <div class="chip">
            Canon PRISMAprepare
          </div>
          <div class="chip">
            Canon PRISMAproduction for SUSE Linux
          </div>
          <div class="chip">
            Canon PRISMAsync controller
          </div>
          <div class="chip">
            Canon SRA controller
          </div>
          <div class="chip">
            Crawford Technologies Pro applications
          </div>
          <div class="chip">
            EFI Fiery Digital print server
          </div>
          <div class="chip">
            Enfocus PitStop
          </div>
          <div class="chip">
            FontLab Studio
          </div>
          <div class="chip">
            GMC Inspire
          </div>
          <div class="chip">
            OpenText Dialogue
          </div>
          <div class="chip">
            HP PCL
          </div>
          <div class="chip">
            IBM AFP Font Editor
          </div>
          <div class="chip">
            IBM AFP Type Transform
          </div>
          <div class="chip">
            IBM AFP Workbench Viewer
          </div>
          <div class="chip">
            IBM AFPDS
          </div>
          <div class="chip">
            IBM InfoPrint Solutions InfoPrint Manager for AIX
          </div>
          <div class="chip">
            IBM IPDS
          </div>
          <div class="chip">
            IBM PSF/MVS for z/OS
          </div>
          <div class="chip">
            IBM z/OS
          </div>
          <div class="chip">
            InfoPrint Solutions InfoPrint Manager for Windows
          </div>
          <div class="chip">
            ISIS Papyrus AFP Viewer
          </div>
          <div class="chip">
            JCL
          </div>
          <div class="chip">
            Microsoft DOS
          </div>
          <div class="chip">
            Microsoft Excel
          </div>
          <div class="chip">
            Microsoft PowerPoint
          </div>
          <div class="chip">
            Microsoft Visio
          </div>
          <div class="chip">
            Microsoft Word
          </div>
          <div class="chip">
            OpenText / Document Sciences xPression
          </div>
          <div class="chip">
            Sefas Remake
          </div>
          <div class="chip">
            Sefas Designer
          </div>
          <div class="chip">
            Sefas Producer
          </div>
          <div class="chip">
            SUSE Linux
          </div>
          <div class="chip">
            VMware
          </div>
          <div class="chip">
            Windows 7,10, 2008, 2012 Server
          </div>
          <div class="chip">
            Xerox Metacode
          </div>
          <div class="chip">
            Xerox DJDE/LCDS
          </div>
        </li>
      </ul>

      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Experience Prior to Canon Solutions America</h5>
        </li>
        <li class="collection-item">
          Canon Solutions America (Horsham, Pennsylvania)
          <br/>
          <div class="skill-date">09/2013 – Present</div>
        </li>
        <li class="collection-item">
          Highmark Incorporated (Pittsburgh, Pennsylvania)
          <br/>
          <div class="skill-date">01/2012 – 09/2013</div>
        </li>
        <li class="collection-item">
          Eastman Kodak Company (Dayton, Ohio)
          <br/>
          <div class="skill-date">06/2008 – 01/2012</div>
        </li>
        <li class="collection-item">
          Self Employed (Huntersville, North Carolina)
          <br/>
          <div class="skill-date">08/2007 – 06/2008</div>
        </li>
        <li class="collection-item">
          Iron Mountian (Boston, Massachusetts)
          <br/>
          <div class="skill-date">06/2003 – 08/2007</div>
        </li>
        <li class="collection-item">
          The Revolution Group – Contracting (Wakefield, Massachusetts)
          <br/>
          <div class="skill-date">06/2002 – 06/2003</div>
        </li>
        <li class="collection-item">
          eiStream/Eastman Software/Wang Software (Billerica, Massachusetts)
          <br/>
          <div class="skill-date">11/1996 – 06/2002</div>
        </li>
        <li class="collection-item">
          Electronic Form Systems/Computer Language Research (Carrollton, Texas)
          <br/>
          <div class="skill-date">12/1992 – 11/1996</div>
        </li>
        <li class="collection-item">
          Image Sciences (Dallas, Texas)
          <br/>
          <div class="skill-date">03/1989 – 12/1992</div>
        </li>
        <li class="collection-item">
          Electronic Form Systems/Computer Language Research (Carrollton, Texas)
          <br/>
          <div class="skill-date">08/1981 – 03/1989</div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Education</h5>
        </li>
        <li class="collection-item">University of Texas - Dallas, Texas - Bachelor of Science in Business Administration
          –
          1992
        </li>
      </ul>
    </div>
  </div>
</div>